# Python
__pycache__/
*.pyc
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Database
*.db

# Logs
*.log

# Storage
storage/repositories/

# Alembic
*.pyc

# OS
.DS_Store
Thumbs.db

# Cloned repositories
apps/api/storage/repositories/
storage/repositories/